{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <a class="back" href="{% url 'post_list' %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
        <h2><a>{{ post.title }}</a></h2>
        <p class="author">By: {{ post.author }}</p>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
    </div>
{% endblock %}